@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap'); //'Open Sans', sans-serif;

@import "./variables.scss";
@import "./../components/first/first-component.scss";
@import "./../components/second/second-component.scss";

*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background: $background-color;
    color: $body-default-color;
    font-family: 'Open Sans', sans-serif;
    cursor: default;
}

main > * {
    padding: 30px;
}
